
body{
    background-color:DarkRed;
    border:none;
    }

.shadow{
    box-shadow: -10px 15px 20px #000;
    background-color:grey;
    color:darkred;
    }
.space{
    margin-top:10px;
    }
.TrippiePics{
    width:95%;
    margin-right:auto;
    margin-left:auto;
    padding-bottom:10px;
    display: block;
    }
#banner{
        padding-left:100px;
        padding-right:100px;
        padding-top:10px;
        padding-bottom:10px;
        text-align: center;
        color:white;
        width:500px;
        margin: auto;
        }   
#nav{
        Display:flex;
        Justify-content:space-around;
        white-space: nowrap;
        text-align: center;
        padding-top: 30px;
        padding-bottom:20px;
        white-space: nowrap;
        background-color:black;
        color:white;
        width:50%;
        margin-right:auto;
        margin-left:auto;
        padding-left:2%;
        padding-right:2%;
        }
#nav a {
        font-family:'PT Sans Narrow', sans-serif;
        font-size:16px;
        font-weight: bold;
        color: grey;
        text-transform: uppercase;
        margin-right: 20px;
        padding: 10px;
        text-decoration: none;
    }
#nav a:hover {
        color:darkred;
        text-decoration: none;
        border-top: 2px dashed darkred;
        text-align: center;
    }

#maincolumn {
    float: left;
    width: 25%;
    background-color:grey;
    color:white;
    padding-left:1%;
    padding-right:1%;
    border-right:solid 10px darkred;
    border-top:solid 10px darkred;
    padding-bottom:20px;

}
#Leftcolumn {
    float: left;
    width: 25%;
    padding-left:1%;
    padding-right:1%;
    background-color:grey;
}
#footer{
    text-align:center;
    width:100%;
    background-color:darkred;
    color:white;
    }
h1{
    font-family: 'Shadows Into Light', sans-serif;

    font-size:35px;
    }
p{
    font-family: 'PT Sans Narrow', sans-serif;
    font-size:14px;
}
h2{
    font-family: 'PT Sans Narrow', sans-serif;
    }
h3{
    font-family: 'PT Sans Narrow', sans-serif;
    }  
#flex{
    display:flex;
    justify-content: center;

}